<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="packages/jquery/dist/jquery.min.js"></script>
    <script src="packages/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="packages/bootstrap/dist/css/bootstrap.min.css"/>

    <script src="/javascripts/globals/jsonHelpers.js"></script>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>