<script src='/javascripts/homeController.js'></script>
<h1>Home (system info)</h1>
<button onclick="getSysInfo()">Get info</button>
<button onclick="getEventActionScripts()">Get info</button>
<pre id='info'></pre>
<h1>Scripts</h1>
<pre id='scripts'></pre>